//colors
$color_white: #ffffff;

$color_gray_light: #E5E5E5;
$color_gray: #C4C4C4;
$color_gray_dark: #828282;

$color_red: #E54C3C;

$color_black: #000000;

//transitions
$transition_duration: 0.3s;
$transition_easing: ease-in-out;