@import "../../../../Common/Scss/main";

.shop-item-add {
  justify-content: center;
  align-items: center;
  padding: 1rem;

  &__button-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    height: 100%;
    transform: translateY(-50%) translateX(-50%);
  }

  &__button:hover,
  &__button:focus {
    .icon circle {
      stroke: $color_gray_light;
    }

    .icon rect {
      fill: $color_gray_light;
    }
  }
}